<div  class="jumbotron">
    <h1 style="text-align: center;">List of Food SubMenu</h1>
    <hr>
    <a class="btn btn-primary" routerLink="/insert-food-sub-menu">Insert New Food Submenu</a>
    <hr>
        <table style="align-content: center;" class="table table-hover table-stripped table-responsive">
                <thead>
                    <th>Food SubMenu Id</th>
                    <th >SubMenu Name</th>
                    <th >Cost</th>
                    <th >Food Type</th>
                    <th >Category</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of foodSubMenu">
                        <td>{{item.foodSubMenuId}}</td>  
                        <td>{{item.subMenu}}</td>   
                        <td>{{item.cost}}</td>
                        <td>{{item.food.foodType}}</td>
                        <td>{{item.food.category}}</td>
                        <td>
                            <a class="btn btn-primary" routerLink="/edit-food-sub-menu/{{item.foodSubMenuId}}"> Edit </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" routerLink="/delete-food-sub-menu/{{item.foodSubMenuId}}"> Delete </a>
                        </td>
                       
                    </tr>         
                </tbody>
        </table>
      
</div>




