<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
        body,html {
                height: 100%;
                }
                .bg-img{
                        background-image: url("assets/images/background1.jpg");

                min-height: 750px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }
        </style>
</head>
<body class="bg-img">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                 </div>
                <div style="margin-top: 100px;">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="jumbotron" style="opacity: 0.9; background-color:lavenderblush; height: 700px; width: 500px">
        
                                        <div class="container">
                            <form >
                                            <h2 style="text-align: center">My Details</h2>
                                            <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label for="">Client Id</label>
                                                    <input type="text" class="form-control" id="userId" 
                                                            name="userId" readonly [(ngModel)]="myDetails.userId">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="">Name</label>
                                                    <input type="text" class="form-control" id="name" 
                                                            name="name" readonly [(ngModel)]="myDetails.name">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="">Email</label>
                                                    <input type="email" class="form-control" id="email" 
                                                            name="email" readonly  [(ngModel)]="myDetails.email">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="">Mobile No</label>
                                                    <input type="text" class="form-control" id="mobNo" 
                                                            name="mobNo" readonly [(ngModel)]="myDetails.mobNo">
                                                    </div>
                                                   
                                            </div>
                                            </div>
                                    </form>
                                    
                                                <form *ngIf="!addr" >
                                                                <div class="form-group">
                                                                <label for="">Address</label>
                                                                <textarea class="form-control" cols="30" rows="3" 
                                                                                id="address" name="address" readonly [(ngModel)]="myDetails.addr.address"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label for="">Pin Code</label>
                                                                        <input type="text" class="form-control" id="pinCode" 
                                                                                name="pinCode" readonly [(ngModel)]="myDetails.addr.pinCode">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label for="">State</label>
                                                                        <input type="text" class="form-control" id="state" 
                                                                                name="state" readonly [(ngModel)]="myDetails.addr.state">
                                                                        </div>
                                                                
                                        
                                                              
                                                    </form>
                                   
                                    
                                                <form  *ngIf="addr" #myForm = "ngForm"  (ngSubmit)="onAdd(myForm)">
                                                                <div class="form-group">
                                                                <label for="">Address</label>
                                                                <textarea class="form-control" cols="30" rows="7" 
                                                                                id="address" name="address" ngModel></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label for="">Pin Code</label>
                                                                        <input type="text" class="form-control" id="pinCode" 
                                                                                name="pinCode" ngModel>
                                                                </div>
                                                                <div class="form-group">
                                                                        <label for="">State</label>
                                                                        <input type="text" class="form-control" id="state" 
                                                                                name="state" ngModel>
                                                                        </div>
                                                                
                                        
                                                                <div class="form-group">
                                                                <button type="submit" class="btn btn-success">Insert</button>  
                                                                </div>
                                                    </form>
                                   
                                    
                                        
                                </div>
                                </div>
                                </div> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6"> 
                </div>   
                
                        
                         
</body>
</html>