<div  class="jumbotron">
        <h2 style="text-align: center;">Events List</h2>
        <hr>
        <a class="btn btn-primary" routerLink="/insert-event-desc"> Insert new event </a>
        <hr>
            <table style="align-content: center;" class="table table-hover table-stripped table-responsive">
                    <thead>
                        <th>Event Desc Id</th>
                        <th >Event Name</th>
                        <th >Event Cost</th>
                        <th >Manager Name</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of eventDesc">
                            <td>{{item.eventDescId}}</td>  
                            <td>{{item.eventName}}</td>   
                            <td>{{item.eventCost}}</td>
                            <td>{{item.mgr.user.name}}</td>
    
                            <td> 
                                    <a class="btn btn-primary" routerLink="/edit-event-desc/{{item.eventDescId}}"> Edit </a> 
                            </td>
                            <td> 
                                    <a class="btn btn-danger" routerLink="/delete-event-desc/{{item.eventDescId}}"> Delete </a> 
                            </td>
    
                        </tr>         
                    </tbody>
                  </table>
                
    </div>