<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
        body,html {
                height: 100%;
                }
                .bg-img{
                        background-image: url("assets/images/background1.jpg");

                min-height: 750px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }
        </style>
</head>
<body class="bg-img">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                 </div>
                <div style="margin-top: 100px;">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="jumbotron" style="opacity: 0.9; background-color:lavenderblush; height: 700px; width: 500px">
        
                                        <div class="container">
                                    <form (ngSubmit) = onUpdate()>
                                            <h2 style="text-align: center">Edit Location</h2>
                                            <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-12">
                                                    <div class="form-group">
                                                    <label for="">Location Id</label>
                                                    <input type="text" class="form-control" id="locationId" 
                                                            name="locationId" readonly [(ngModel)]="locationDetails.locationId">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="">Location Name</label>
                                                    <input type="text" class="form-control" id="locationName" 
                                                            name="locationName" [(ngModel)]="locationDetails.locationName">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="">Location Cost</label>
                                                    <input type="cost" class="form-control" id="locationCost" 
                                                            name="locationCost"  [(ngModel)]="locationDetails.locationCost">
                                                    </div>
                                                    <div class="form-group">
                                                    <label for="">Location Image</label>
                                                    <input type="text" class="form-control" id = "locationImage"
                                                           name = "locationImage"  [(ngModel)]="locationDetails.locationImage">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Venue City Id</label>
                                                        <input type="text" class="form-control" id="venueCityId" 
                                                                name="venueCityId"  [(ngModel)]="locationDetails.venueCity.venueCityId">
                                                    </div>
                                                    <div class="form-group">
                                                    <button type="submit" class="btn btn-success">Update</button>  
                                                    </div>
                                                    
                                                   
                                            </div>
                                            </div>
                                    </form> 
                                </div>
                                </div>
                                </div> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6"> 
                </div>                           
</body>
</html>