<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                 </div>
                <div style="margin-top: 10px;">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="jumbotron" style="opacity: 0.9; background-color:lavenderblush; height: 700px; width: 500px;margin-top: 10px">
        
                                        <div class="container">
                                    <form  (ngSubmit)="onEdit()">
                                                <h2>Edit Event</h2>
                                                <div class="form-group">
                                                        <label for="">Event Desc Id</label>
                                                        <input class="form-control" cols="30" rows="7" 
                                                                        id="eventDescId" name="eventDescId" placeholder="Enter Event Name" [(ngModel)]="eventdesc.eventDescId">
                                                        </div>
                                                <div class="form-group">
                                                <label for="">Event Name</label>
                                                <input class="form-control" cols="30" rows="7" 
                                                                id="eventName" name="eventName" placeholder="Enter Event Name" [(ngModel)]="eventdesc.eventName">
                                                </div>
                                                <div class="form-group">
                                                        <label for="">Event Cost</label>
                                                        <input type="text" class="form-control" id="eventCost" 
                                                                name="eventCost" placeholder="Enter Event Cost" [(ngModel)]="eventdesc.eventCost">
                                                </div>
                                                <div class="form-group">
                                                        <label for="">Manager id</label>
                                                        <input type="text" class="form-control" id="managerId" 
                                                                name="managerIds" [(ngModel)]="eventdesc.mgr.managerId">
                                                </div>

                                                <div class="form-group">
                                                       <button type="submit" class="btn btn-success">Update</button>
                                                </div>
                                    </form>
                                        
                                </div>
                                </div>
                                </div> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6"> 
                </div>   
                
                        
                         
</body>
</html>

