<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
</head>
<body>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                 </div>
                <div style="margin-top: 10px;">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="jumbotron" style="opacity: 0.9; background-color:aliceblue; height: 700px; width: 500px;margin-top: 10px">
        
                                        <div class="container">
                                    <form #myForm = "ngForm"  (ngSubmit)="onInsert(myForm)">
                                                <div class="form-group">
                                                <label for="">Food Type</label>
                                                <input class="form-control" cols="30" rows="7" 
                                                                id="foodType" name="foodType" placeholder="Enter Food Type" ngModel>
                                                </div>
                                                <div class="form-group">
                                                        <label for="">Food Category</label>
                                                        <input type="text" class="form-control" id="category" 
                                                                name="category" placeholder="Enter Food Category" ngModel>
                                                </div>
                                                <div class="form-group">
                                                        <label for="">Event id</label>
                                                        <input type="text" class="form-control" id="event" 
                                                                name="event" ngModel>
                                                </div>

                                                <div class="form-group">
                                                       <button type="submit" class="btn btn-success">Insert</button>
                                                </div>
                                    </form>
                                        
                                </div>
                                </div>
                                </div> 
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6"> 
                </div>   
                
                        
                         
</body>
</html>

